./UR*
./ID*

ID*
ID*.*
UR_*
UR_*/*
images
images/*
temp
temp/*

app/__pycache__
app/.vscode
app/captures
app/logs
app/results
app/results/*
app/temp
app/temp/*
app/keras_models/*
app/screenshots


machine_learning
logs

__pycache__
*/__pycache__
*/*/__pycache__
